<!-- <% data.forEach(row => {%>
    <%= row %>
        <br><br><br>
        <% }) %> -->
<table>
    <% for(let i = 1; i < data.length; i++) {%>
    <tr>
        <td><%= i %></td>
        <td>
            <a href="<%= data[i][5] %>" target="blank">
                <%= data[i][0] %>
            </a>
        </td>
        <td>
            <%= data[i][6] %>
        </td>
        <td>
            <%= data[i][7] %>
        </td>
    </tr>
<% } %>
</table>